<!doctype html>
<html lang="de">
<head>
    <title>{{ site.title }}</title>
    <link rel="stylesheet" href="main.css">
</head>
<body>
<h1>{{ site.headline }}</h1>

<table>
    <tr>
        <th colspan="2">CSS</th>
    </tr>
    <tr id="screen-size">
        <td>Screen Size</td>
        <td class="value">
            <span></span> * <span></span>
        </td>
    </tr>
    <tr id="aspect-ratio">
        <td>Device Aspect Ratio</td>
        <td class="value"></td>
    </tr>
</table>
</body>
</html>
