html, body {
	font-family : sans-serif;
	background  : darkslategrey;
	color       : whitesmoke;
	margin      : 0;
	padding     : 0;
}

h1, h2, h3, h4, h5, h6, p, strong {
	margin : 0;
}

$widths  : 1920, 2560;
$heights : 1080, 1200, 1440;
$ratios  : (calc(16 / 10): "16 / 10", calc(16 / 9) : "16 / 9");

#screen-size {
	.value span:nth-child(1)::after {
		@each $width in $widths {
			@media (device-width : $width * 1px) {
				content : "#{$width}";
			}
		}
	}

	.value span:nth-child(2)::after {
		@each $height in $heights {
			@media (device-height : $height * 1px) {
				content : "#{$height}";
			}
		}
	}
}

#aspect-ratio {

	.value::after {
		@each $ratio, $name in $ratios {
			@media (device-aspect-ratio : $ratio) {
				content : "#{$name}";
			}
		}
	}

}
